.today-forecast {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
}

.forecast__btn {
    height: 40px;
    width: 20px;
    border: none;
    box-sizing: border-box;
    opacity: 0.3;
}

.forecast__btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.forecast__btn-prev {
    margin-right: 10px;
    background: transparent center no-repeat url(../../images/arrow.png);
    background-size: contain;
}

.forecast__btn-next {
    margin-left: 10px;
    background: transparent center no-repeat url(../../images/arrow.png);
    background-size: contain;
    transform: rotate(180deg);
}

.hours {
    display: flex;
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;

    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.hours::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}



.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    width: 54px;
}

.hour:last-child {
    margin-right: 0;
}

.hour__time {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.hour__icon-box {
    height: 54px;
    width: 54px;
    margin: 0 0 5px 0;
}

.hour__icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hour__temp {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}



@media screen and (max-width: 767px) {
    .forecast__btn {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .hour__icon-box {
        height: 50px;
        width: 50px;
    }
}